<%= erb :navbar %>

<div class="contain" >

  <h1> Upload or choose files to upload for your loan application  </h1>



  <% files = client.folder_items(Boxr::ROOT) %>


    <ul class="file-tree">
      <% files.each do |i| %>

        <% if i.type == "folder" %>
          <li>[<%= i.name %>]   <%= i.created_at %> </li>
        <% else %>
          <li><%= i.name  %>   <%= i.created_at %> </li>
        <% end %>

      <% end %>
    </ul>


</div><!-- /.container -->
